.r-h1-class {
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;

    // @include respond-to(mobile) {
    //     font-size: 24px;
    //     line-height: 32px;
    // }
}

.r-h2-class {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;

    // @include respond-to(mobile) {
    //     font-size: 24px;
    //     line-height: 32px;
    // }
}

.r-h3-class {
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;

    // @include respond-to(mobile) {
    //     font-size: 24px;
    //     line-height: 32px;
    // }
}

.r-h4-class {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    // @include respond-to(mobile) {
    //     font-size: 18px;
    //     line-height: 24px;
    // }
}

.r-h5-class {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.r-h6-class {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.r-l1-class {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -.015em;
}

.r-l2-class {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -.015em;
}

.r-l3-class {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -.01em;
}

.r-l4-class {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -.01em;
}

.r-l5-class {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -.005em;
}

.r-l6-class {
    font-size: 11px;
    line-height: 12px;
    letter-spacing: -.005em;
}

.r-t1-class {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -.015em;
}

.r-t2-class {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -.015em;
}

.r-t3-class {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -.015em;
}

.r-t4-class {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.01em;
}

.r-t5-class {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -.01em;
}

.r-t6-class {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -.005em;
}
